@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@300;400;700&display=swap');
  
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------ */
/* WRITE YOUR CSS HERE :) */
/* ------------------------------------ */ 

body {
    font-family: 'Roboto';
    background-color: #f5f7fa;
    color: #222;
    line-height: 1.6;
}
 
h1, h2, h3 {
    font-family: 'Orbitron';
    letter-spacing: 1px;
}
h1{
    color:white;
}

 
 
#main-header {
    text-align: center;
    background: #192737;
    color: white;
    padding: 50px 20px;
    margin-bottom: 10px;
}

 

#main-header p {
    color: #839ab3;
}
 
nav {
    background-color: #222;
    text-align: center;
    padding: 12px 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #839ab3;
    text-decoration: none;
    font-weight: 600;
    padding: 6px 12px;
    transition: all 0.3s ease;
    border-radius: 4px;
}

nav ul li a:hover {
    background: #3a6cff;
    text-decoration: underline;
    color: #ffffff;
}
 
.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 25px; 
    border-radius: 8px;
  
}
 
section {
    margin-bottom: 45px;
}

section h2 {
    margin-bottom: 15px;
    color: #3c4651;
    border-bottom: 2px solid #3a6cff;
    padding-bottom: 5px;
}

section h3 {
    margin-bottom: 10px;
    color: #212e3d;
}
 
.highlight {
    background: #e8f0ff;
    padding: 15px;
    border-left: 4px solid #3a6cff;
    margin-top: 15px;
    font-style: italic;
}
 
.tool-card {
    background: #ffffff;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 18px 0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
} 
.tool-card h3 {
    margin-bottom: 8px;
    color: #219048;
}
 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
}

thead {
    background: #007bff;
    color: white;
}

th, td {
    padding: 12px 14px;
    text-align: left;
    border: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background: #ffffff;
}

tbody tr:hover {
    background: #e6ecff;
}
 
footer {
    background: #192737;
    color: white;
    text-align: center;
    padding: 22px;
    margin-top: 40px;
    font-size: 14px;
}
 